/data/*
data/*
data
biotrove-data/*
biotrove-data
/biotrove-data/*
.env
#ignore all latex auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
#and sty files
*.stybiotrove-data-backup-simple
biotrove-data-backup-simple/*
writing/*
